<section id="posts">
    <button 
        *ngIf="isUserPosts" 
        mat-raised-button color="primary" 
        aria-label="New Post"
        (click)="createPost()"
    >
        NEW POST
    </button>
    <app-filter [data]="posts" (filteredData)="handleFilter($event)"></app-filter>
    <div fxLayout="row wrap" fxFlexAlign="center center">
        <ng-container *ngIf="filteredPosts.length > 0; else noPostsAvailable">
            <app-post *ngFor="let post of filteredPosts" [post]="post"></app-post>
        </ng-container>
        <ng-template #noPostsAvailable>
            <p class="empty">There is no posts available.</p>
        </ng-template>
    </div>
</section>