#posts {
    padding: 30px;

    button {
        margin-left: 15px;
    }

    .empty {
        font-size: medium;
        color: white;
        font-style: italic;
        font-weight: bold;
        text-align: center;
    }
}